# Задача 1

1. Найти имена, которые входят в первый список, но не входят во второй список
2. Найти имена, которые входят во второй список, но не входят в первый список
3. Найти имена, которые входят в оба списка
4. Найти имена, которые не входят в оба списка

In [24]:
list_1 = [
    'Cветлана',
    'Мария',
    'Игорь',
    'Илья',
    'Олег'
]
list_2 = [
    'Cветлана',
    'Иван',
    'Василиса',
    'Олег'
]

In [25]:
print("имена, которые входят в первый список, но не входят во второй список")
[name_1 for name_1 in list_1 if name_1 not in list_2]

имена, которые входят в первый список, но не входят во второй список

['Мария', 'Игорь', 'Илья']

In [26]:
print("имена, которые входят в первый список, но не входят во второй список")
[name_2 for name_2 in list_2 if name_2 not in list_1]

имена, которые входят в первый список, но не входят во второй список

['Иван', 'Василиса']

In [27]:
print("имена, которые входят в оба списка")
[name_1 for name_1 in list_1 if name_1 in list_2]

имена, которые входят в оба списка

['Cветлана', 'Олег']

In [28]:
print("имена, которые не входят в оба списка")
print([name_1 for name_1 in list_1 if name_1 not in list_2 ],[ name_2 for name_2 in list_2 if name_2 not in list_1 ])

имена, которые не входят в оба списка
['Мария', 'Игорь', 'Илья'] ['Иван', 'Василиса']

## Задача 2

Ниже задан словарь и заполнен значениями (это вымышленные ученики). В качестве ключей выступают номера телефонов, в качестве значений - словари с полной информацией о человеке. Необходимо сделать:
1. Вывести ФИО всех учеников (по одному в каждой строке). Выводить через for
2. Посчитать среднюю оценку по группе за каждый месяц (всего было 4 месяца - необходимо вывести 4 числа). Опять же, делаем из предположения, что в словаре может быть очень большое кол-во записей.
3. Удалить ученика с самой низкой средней оценкой. Посчитать п.2 по оставшимся.

In [29]:
# Имя
# Фамилия
# Пол
# Дата рождения
# Возраст


group = {
    '+79291111111':{
        'Имя':'Иван',
        'Фамилия':'Петров',
        'Пол':'м',
        'Дата рождения':'01-01-1991',
        'Возраст':23,
        'Итоговые оценки за месяц':(60, 65, 97, 40),
        'Итоговая контрольная':40.7,
    },
     '+79282222233':{
        'Имя':'Матвей',
        'Фамилия':'Васильев',
        'Пол':'м',
        'Дата рождения':'04-09-1996',
        'Возраст':20,
        'Итоговые оценки за месяц':(70, 75, 67, 40),
        'Итоговая контрольная':49.6,
    },
     '+79264443333':{
        'Имя':'Татьяна',
        'Фамилия':'Фоменко',
        'Пол':'ж',
        'Дата рождения':'01-01-1988',
        'Возраст':27,
        'Итоговые оценки за месяц':(20, 43, 87, 70),
        'Итоговая контрольная':70.2,
    }
}

In [30]:
for i in range(len(group)):
    person = dict(tuple(group.items())[i][1])
    name = list(person.keys())[0:2]
    print(person[name[0]] +" "+ person[name[1]])

Иван Петров
Матвей Васильев
Татьяна Фоменко

In [31]:
average_score_for = 0
lst = []
for i in range(len(group)):
    person = dict(tuple(group.items())[i][1])
    score = list(list(person.values())[5])
    lst.extend(score)
for y in range(4):
    for z in lst[y::4]:
        average_score_for += z
    print("Средняя оценка группы за "+str(y+1)+" месяц: "+str(average_score_for/3))
    average_score_for = 0

Средняя оценка группы за 1 месяц: 50.0
Средняя оценка группы за 2 месяц: 61.0
Средняя оценка группы за 3 месяц: 83.66666666666667
Средняя оценка группы за 4 месяц: 50.0

In [32]:
average_score = 0
dict_ = {}
for i in range(len(group)):
    person = dict(tuple(group.items())[i][1])
    score = list(list(person.values())[5])
    lst.extend(score)
for y in range(0,12,4):
    k = y + 4
    for z in lst[y:k:]:
        average_score += z
    dict_.update({
        int(k/4): average_score/4
    })
    average_score = 0
person = list(tuple(group.items())[min(dict_, key=dict_.get)-1])
print("У "+str(min(dict_, key=dict_.get))+"-го ученика самая минимальная средняя оценка - "+str(tuple(dict_.values())[min(dict_, key=dict_.get) - 1]))
group.pop(person[0])
average_grade_for_month = 0
lst = []
for i in range(len(group)):
    person = dict(tuple(group.items())[i][1])
    score = list(list(person.values())[5])
    lst.extend(score)
for y in range(4):
    for z in lst[y::4]:
        average_grade_for_month += z
    print("Средняя оценка оставшейся группы за "+str(y+1)+" месяц: "+str(average_grade_for_month/2))
    average_grade_for_month = 0

У 3-го ученика самая минимальная средняя оценка - 55.0
Средняя оценка оставшейся группы за 1 месяц: 65.0
Средняя оценка оставшейся группы за 2 месяц: 70.0
Средняя оценка оставшейся группы за 3 месяц: 82.0
Средняя оценка оставшейся группы за 4 месяц: 40.0

# Задача 3

У вас есть список списков, в первом элементе которых лежат наименования страны, в нескольких других ячейках следом - города.

Вам необходимо преобразовать его в словарь так, чтобы при обращении по городу выдавалась страна, к которой данный город принадлежит.

**Пример:**

In [33]:
lst = [
    ['Russia', 'Moscow', 'Petersburg', 'Novgorod', 'Kaluga'],
    ['Ukraine', 'Kiev', 'Donetsk', 'Odessa']
]

По обращению  
`dct_1["Moscow"]` я должен получить вывод `Russia`

А по обращению  
`dct_1["Odessa"]` - должен получить вывод `Ukraine`

In [34]:
dict_1 = {}
for i in lst:
    for k in range(1,len(i)):
        dict_1.update({
            i[k]: i[0]
        })
dict_1["Donetsk"]

'Ukraine'